# ECE795 Advanced Big Data Analytics Homework 7 (Due 4/21/2022, 60 Total Points)

Please create a Dataproc cluster in Google Cloud Platform, access the master node using ssh, and answer the following questions using beeline.

In your answers, please provide necessary contents, including commands, screenshots and the outputs of the commands.

## Hive and Data Partitioning in GCP

Note: in the beeline environment in GCP, all the column names should be quoted by \`\` as the valid syntax. An example query can be found in the following.

In [0]:
CREATE EXTERNAL TABLE jobs (
   `id` INT, 
   `title` STRING, 
   `salary` INT, 
   `posted` TIMESTAMP
 )
 ROW FORMAT DELIMITED
 FIELDS TERMINATED BY ',';

### Q1. Please describe three commands available in the beeline and explain their functionality.

In [0]:
# Your answer

### Q2. Please download `data.csv` file from Github and put it in HDFS (any path that you want but `data.csv` should be the only file in the path).

In [0]:
# Your answer

### Q3. To connect to the Hive using beeline, please use the provided command and enter it in the terminal of the master node. In beeline environment, please create a table for the data in data.csv using approriate schema.

The names of the columns are `id`, `date`, `currency`, and `rate`. The table records the currency exchange rate for several years.

In [0]:
beeline -u "jdbc:hive2://localhost:10000"

In [0]:
# Your answer

### Q4. Please show the proof that the data in `data.csv` has been loaded to the created table.

In [0]:
# Your answer

### Q5. Please use Hive SQL to find the currency with the highest rate between 2005 and 2010.

In [0]:
# Your answer

### Q6. Please create a table of the same data with data partition using `currency` as the key.

In [0]:
# Your answer

### Q7. Please discuss the advantages and disadvantages of using (1) `currency`, (2) `date`, and (3) `currency` and `date`, as the key of data partitioning.

In [0]:
# Your answer